body {
  font-family:"Cormorant", serif;
  background-color: #FAFAFA;
  color: black;
   margin: 0;                       /* Removes default margin around page */
  padding: 0;  
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 20px;
  position: relative;
}

.nav-bar {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 20px;
  padding: 0;
  width:100%;  
}
.nav-bar a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 5px 10px;
  font-size: 22px;
  font-family: Poppins;
}

.nav-bar a:hover {
  color: black;
  
}

header::after {
  content: "";                    
  width: 100%;                     
  height: 3px;                    
  background-color: rgb(85, 48, 60); 
  margin-top: 20px;                
  display: block;     
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 40px 0;
    
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: inline-block;
  margin: 10px;
  gap: 25px;                      
  padding: 20px; 

}

.card {
  background: white;               
  width: 250px;                    
  min-height: 400px;               
  border-radius: 15px;             
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  padding: 15px;                   
  font-family: Arial, sans-serif;  
  text-align: center;              
  transition: transform 0.3s, box-shadow 0.3s; 
}


.card-image {
  background-color: #d79b77;
  height: 150px; ;
  margin-bottom: 15px;
  background-size: cover;
}

.card:hover {
  transform: translateY(-6px);     
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.12); 
}
.container:focus {
  transform: translateY(-6px);
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.12);
}



.image-1 {
  background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1000w,f_avif,q_auto:eco,dpr_2/rockcms/2024-01/240117-heal-dry-chapped-lips-kb-social-v4-0a83d3.jpg');
  background-size: cover;
  background-position: center;
}

.image-2 {
  background-image: url('https://cdn.shopify.com/s/files/1/0051/7868/7599/files/Screenshot_2022-06-01_at_1.33.02_PM_480x480.png?v=1654070630');
  background-size: cover;
  background-position: center;
}

.image-3 {
  background-image: url('https://as1.ftcdn.net/v2/jpg/01/08/99/52/1000_F_108995281_CAXBKNzhkD1TyngFbvlqGeHT82hI0Vp3.jpg');
  background-size: cover;
  background-position: center;
}

.image-4 {
  background-image: url('https://images.pexels.com/photos/6476081/pexels-photo-6476081.jpeg');
  background-size: cover;
  background-position: center;
}


h2 {
  display: flex;
  justify-content: center;
  font-family: sans-seriff;
}

p{
  display: flex;
  justify-content: center;
  font-family: sans-seriff;
  font-size: 18px;
}

.card-1{
   background: #a2b793;
}
.card-2{
  background: #E3A78B;
}
.card-3{
  background: #C7D5B9;
}
.card-4{
  background: #EAD9C0;
}

